# System files
.DS_Store

# Logs
*.log
npm-debug.log*

# Directories
node_modules
*/node_modules
packages/*/dist
.ignore
coverage/

# Secrets
secrets.env.json

# Etc
packages/unigraph-dev-backend/exports.json

# Obsidian for docs
docs/.obsidian/workspace
docs/.obsidian/plugins