body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --app-drawer-background-color: #f7f7f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Global styles properties */
span.wikilink:hover {
  text-decoration: underline;
}

[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}

.showOnHover {
  opacity: 0
}

.showOnHover:hover {
  opacity: 1
}

.bottom-48 {
  height: calc(100% - 48px) !important;
}

.rbc-event-label {
  display: none !important;
}