body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --app-drawer-background-color: #f7f7f7;
  --secondary-text-color: #37352f80;

  background-color: var(--app-drawer-background-color);
}

.MuiListSubheader-root {
  background: transparent;
}

kbd {
  background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Global styles properties */
span.wikilink:hover {
  text-decoration: underline;
}

[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}

.showOnHover {
  opacity: 0
}

.showOnHover:hover {
  opacity: 1
}

.bottom-48 {
  height: calc(100% - 48px) !important;
}

.rbc-event-label {
  display: none !important;
}

.swipeable-list-item__content {
  background-color: transparent !important;
}